.event-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-width: 600px;
    margin: auto;
}

.event-item {
    background-color: #f8f9fa;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    .event-item button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 8px 12px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .event-item button:hover {
            background-color: #0056b3;
        }

.header {
    text-align: center;
    margin-bottom: 30px;
}

.create-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .create-button:hover {
        background-color: #218838;
    }
